
Semantica/bin/Debug/net9.0/Semantica.dll

Semantica/obj/Debug/net9.0/apphost.exe
ASM/ASM.csproj
**.csproj**
obj/
ASM.sln/
ASM.sln/
ASM/ASM.sln

ASM/prueba.cpp
ASM/prueba.log
ASM/prueba.o
ASM/bin/Debug/net9.0/ASM.pdb
ASM/bin/Debug/net9.0/ASM.exe
ASM/prueba.asm
ASM/bin/Debug/net9.0/ASM.dl

ASM/prueba.log
ASM/prueba.cpp
